
 
   
    <h3 class="text-center foot">&&cmsshopping cart</h3>

  </body>
  <style>
     h3{
     /* background-color: black; */
    color: crimson;
    padding: 8px 12px;
    font-size: 18px;
  } 
  </style> 
  </html>